*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.shortcutToMain {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    display: block;
    color: transparent;
    white-space: nowrap;
    text-indent: 100%;
}

header {
    width: 100%;
    padding: 20px 2%;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 2.5rem;
    text-decoration: none;
    color: #0067F1;
}

header .menu ul{
    list-style-type: none;
}

header .menu ul li {
    display: inline-block;
    margin: 0 20px -4px 0;
}

header .menu a {
    color: #333333;
    text-decoration: none;
    transition: all ease 0.3s;
    font-size: 1.25rem;
}

header .menu a:hover {
    color: rgba(41, 41, 41, 0.534);
}

header .menu .menu__btn_loginRegister {
    padding: 10px 40px;
    background-color: #0067F1;
    color: white;
    border-radius: 12px;
}