*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    height: 100%;
    color: #333333;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.shortcutToMain {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    display: block;
    color: transparent;
    white-space: nowrap;
    text-indent: 100%;
}

.header {
    width: 100%;
    padding: 20px 2%;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 2.5rem;
    text-decoration: none;
    color: #0067F1;
}

.menu ul{
    list-style-type: none;
}

header .menu ul li {
    display: inline-block;
    margin: 0 20px -4px 0;
}

.menu__items {
    color: #333333;
    text-decoration: none;
    transition: all ease 0.3s;
    font-size: 1.25rem;
}

.menu__items:hover {
    opacity: 0.5;
}

.menu__btn_loginRegister {
    padding: 10px 40px;
    background-color: #0067F1;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition: all ease 0.5s;
}

.menu__btn_loginRegister:hover, .download__content button:hover {
    background-color: white;
    color: #694CB7;
    border: 2px solid #333333;
}

.about, .qualities, .download {
    width: 100%;
    padding: 40px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__content, .qualities__content, .download__content {
    width: 100%;
    max-width: 360px;
}

.about__content h1, .qualities__content h2, .download__content h2 {
    font-size: 1.8rem;
    font-weight: 800;
    color: #694CB7;
    margin-bottom: 16px;
}

.about__content p, .qualities__content p, .download__content p {
    font-size: 1.25rem;
}

.about__svgGame {
    width: 100%;
    max-width: 687px;
    height: 387px;
} 

.qualities {
    background-color: #333333;
    padding: 0 0 0 8%;
}

.qualities__content, .qualities__content h2 {
    color: white;
}

.download {
    padding: 0 8% 0 0;
    text-align: center;
}

.download__content button {
    width: 100%;
    max-width: 233px;
    height: 50px;
    background-color: #0067F1;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    margin-top: 16px;
    display: inline-block;
    transition: all ease 0.5s;
}

.spendGame, .boyGaming {
    width: 100%;
    max-width: 800px;
}