/*-- Reset --*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    height: 100%;
    color: #333333;
}

/*-- Hidden Link --*/

.shortcutToMain {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    display: block;
    color: transparent;
    white-space: nowrap;
    text-indent: 100%;
}

/*-- Background Menu Mobile --*/

.bgBlack {
    width: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease 0.5s;
    opacity: 0;
    z-index: 1;
}

.bgBlack--active {
    opacity: 1;
    width: 100%;
}

/*-- Default Config --*/

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

fieldset {
    border: 0;
}

.menuDesktop__btnLogReg:hover,
.download__content button:hover,
.services__classic button:hover,
.services__premium button:hover,
.services__exclusive button:hover,
.contact__form input[type="submit"]:hover {
    background-color: white;
    color: #694CB7;
    border: 2px solid #333333;
}

/*-- Style of the Site --*/

.btnLoginRegister {
    display: none;
    padding: 10px 2%;
    background-color: #333333;
    color: white;
    text-align: center;
}

.btnLoginRegister ul {
    list-style: none;
}

.btnLoginRegister ul li {
    margin: 48px 0;
}

.header {
    width: 100%;
    padding: 20px 2%;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 2.5rem;
    text-decoration: none;
    color: #0067F1;
}

.header__menuMobile {
    display: none;
}

.header__menuDesktop ul{
    list-style-type: none;
}

header .header__menuDesktop ul li {
    display: inline-block;
    margin: 0 20px -4px 0;
}

.menuDesktop__items {
    color: #333333;
    text-decoration: none;
    transition: all ease 0.3s;
    font-size: 1.25rem;
}

.menuDesktop__items:hover {
    opacity: 0.5;
}

.menuDesktop__btnLogReg {
    padding: 10px 40px;
    background-color: #0067F1;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition: all ease 0.5s;
}

.about, .qualities, .download {
    width: 100%;
    padding: 40px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__content, .qualities__content, .download__content {
    width: 100%;
    max-width: 360px;
}

.about__content h1, .qualities__content h2, .download__content h2 {
    font-size: 1.8rem;
    font-weight: 800;
    color: #694CB7;
    margin-bottom: 16px;
}

.about__content p, .qualities__content p, .download__content p {
    font-size: 1.25rem;
}

.about__svgGame {
    width: 100%;
    max-width: 687px;
    height: 387px;
} 

.qualities {
    background-color: #333333;
    padding: 0 0 0 8%;
}

.qualities__content, .qualities__content h2 {
    color: white;
}

.download {
    padding: 0 8% 0 0;
    text-align: center;
}

.download__content button {
    width: 100%;
    max-width: 233px;
    height: 50px;
    background-color: #0067F1;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    margin-top: 16px;
    display: inline-block;
    transition: all ease 0.5s;
}

.spendGame, .boyGaming {
    width: 100%;
    max-width: 900px;
}

.qualities__boyGamingMobile {
    display: none;
}

.services {
    width: 100%;
    padding: 20px 6%;
    background-color: #333333;
    color: white;
    text-align: center;
}

.services h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 32px;
}

.services .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.services__classic, .services__premium, .services__exclusive {
    width: 100%;
    max-width: 320px;
    padding: 20px 2%;
    background-color: white;
    color: #333333;
    border-radius: 12px;
    text-align: center;
    min-height: 370px;
    position: relative;
    z-index: 0;
}

.services__exclusive {
    min-height: 420px;
}

.services__classic h3, .services__premium h3, .services__exclusive h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #694CB7;
    margin-bottom: 16px;
}

.hideVisually{
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.services__classic span, .services__premium span, .services__exclusive span {
    font-size: 1.3rem;
    font-weight: 800;
    display: block;
}

.services__classic ul, .services__premium ul, .services__exclusive ul {
    list-style: none;
    text-align: left;
}

.services__classic ul li:first-child, .services__premium ul li:first-child, .services__exclusive ul li:first-child {
    margin-top: 32px;
}

.services__classic ul li, .services__premium ul li, .services__exclusive ul li {
    margin-top: 16px;
}

.services__classic svg, .services__premium svg, .services__exclusive svg {
    color: #007E1B;
    font-size: 1.5rem;
    display: inline-block;
    margin: 0 16px -4px 0;
}

.services__classic p, .services__premium p, .services__exclusive p {
    display: inline-block;
    margin: 0 -4px -4px 0;
    font-size: 1.3rem;
}

.services__classic button, .services__premium button, .services__exclusive button {
    width: 100%;
    max-width: 150px;
    height: 52px;
    color: white;
    background-color: #0067F1;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    transition: all ease 0.5s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    margin-bottom: 32px;
}

.contact {
    width: 100%;
    padding: 20px 2%;
    text-align: center;
}

.contact h2 {
    font-size: 1.8rem;
    color: #694CB7;
    margin-bottom: 24px;
}

.contact__form {
    width: 100%;
    max-width: 486px;
    display: inline-block;
}

.form__subtitle {
    font-size: 1.3rem;
    text-align: left;
    margin: 16px 0;
}

.contact__form label p {
    font-size: 1.3rem;
    margin: 16px 0 16px 6px;
    text-align: left;
}

.form__boxInput {
    width: 100%;
    height: 48px;
    position: relative;
    border: 12px;
}

.boxInput__input, .boxInput__textarea {
    width: inherit;
    height: inherit;
    background-color: #DDDDDD;
    border: 0;
    border-radius: 12px;
    padding: 16px;
}

.boxInput__textarea {
    width: 100%;
    height: 128px;
}

.boxInput__input--error {
    color: #BB1118;
    border: 2px solid #BB1118;
}

.boxInput__input--check {
    color: #007E1B;
    border: 2px solid #007E1B;
}

.form__iconValidation {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -o-transform: translateY(-45%);
    right: 20px;
    font-size: 2rem;
}

.checkEmail {
    width: 100%;
    margin: 16px 0;
    text-align: left;
    position: relative;
}

.form__emailSuggestion {
    width: 100%;
    font-size: 1rem;
    color: #BB1118;
    padding-left: 16px;
    display: none;
    text-align: left;
}

.form__emailSuggestion--active {
    display: inline-block;
}

.contact__form input[type="checkbox"] {
    width: 100%;
    max-width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0 16px -4px 0;
}

.contact__form input[type="checkbox"]:checked {
    border: 0;
}

.checkEmail label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    display: inline-block;
    margin: 0 -4px -4px 0;
}

.contact__form input[type="submit"] {
    width: 100%;
    max-width: 150px;
    height: 50px;
    color: white;
    background-color: #0067F1;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    margin-top: 32px;
    transition: all ease 0.5s;
}

.footer {
    width: 100%;
    padding: 20px 2%;
    background-color: #333333;
    color: white;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__developer {
    padding: 16px 0;
}

.contact__developer h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 16px;
    display: inline;
}

.contact__developer a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.footer__contact h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.contact__iconSocialMedia, .credits__authors {
    list-style: none;
    margin-top: 16px;
    margin-left: 16px;
}

.contact__iconSocialMedia li {
    display: inline-block;
    margin: 0 24px -4px 0;
}

.contact__iconSocialMedia a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.footer__credits {
    text-align: right;
}

.footer__credits h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.credits__authors li {
    margin-top: 16px;
}

.credits__authors a {
    color: white;
}

/*-- Design Responsive --*/

@media screen and (max-width: 1280px) {

    .header__logo {
        font-size: 2.5rem;
        text-decoration: none;
        color: #0067F1;
    }

    .header__menuDesktop {
        display: none;
    }

    .header__menuMobile {
        display: block;
    }

    .menuMobile__btnBar {
        font-size: 2.5rem;
        background-color: white;
        color: #0067F1;
        border: 0;
        cursor: pointer;
    }

    .btnLoginRegister {
        display: block;
    }

    .menuMobile__menu {
        list-style: none;
        background-color: white;
        width: 100%;
        max-width: 320px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        box-shadow: 3px 3px 10px black;
        transform: translateX(110%);
        -webkit-transform: translateX(110%);
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        -o-transform: translateX(110%);
        transition: transform ease 0.5s;
        z-index: 1;
    }

    .menuMobile__items {
        width: 100%;
        background-color: #DDDDDD;
        padding: 20px 6%;
        border-bottom: 2px solid #333333;
    }

    .menuMobile__items:last-child {
        border-bottom: none;
    }

    .menuMobile__items a {
        color: #333333;
        font-size: 1.5rem;
        text-decoration: none;
    }

    .menu__btnClose {
        width: 100%;
        padding: 20px 6%;
        background-color: #333333;
        color: white;
        font-size: 2.5rem;
        border: 0;
        cursor: pointer;
        text-align: left;
    }

    .menuMobile__menu--active {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }

    .main--active {
        background-color: rgba(0, 0, 0, 0.5);
        transition: all ease 0.5s;
    }

    .about, .download {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        padding: 20px 4%;
    }

    .qualities {
        flex-direction: column;
        padding: 20px 4%;
    }

    .about__content {
        width: 100%;
        max-width: 360px;
        margin-top: 24px;
    }

    .download__content {
        width: auto;
    }

    .about__content h1 {
        text-align: center;
    }

    .about__svgGame {
        margin-top: 32px;
    } 

    .spendGame, .boyGaming {
        display: none;
    }

    .qualities__boyGamingMobile {
        display: block;
        margin-top: 32px;
    }

    .qualities__content {
        width: auto;
        max-width: 380px;
    }

    .about__content h1, .qualities__content h2, .download__content h2, .services h2 {
        font-size: 1.5rem;
    }

    .about__content p, .qualities__content p, .download__content p {
        font-size: 1rem;
    }

    .qualities__content h2 {
        text-align: center;
        margin-top: 32px;
    }

    .services .container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .services__exclusive {
        margin: 32px 0;
    }

    .services__classic, .services__premium, .services__exclusive {
        text-align: center;
        min-height: 340px;
        z-index: 0;
    }

    .services__classic h3, .services__exclusive h3, .services__premium h3 {
        font-size: 1.3rem;
    }

    .services__classic span, .services__exclusive span, .services__premium span {
        font-size: 1.2rem;
    }

    .services__classic p,
    .services__exclusive p,
    .services__premium p,
    .services__classic svg,
    .services__exclusive svg,
    .services__premium svg {
        font-size: 1rem;
    }

    .services__classic ul, .services__premium ul, .services__exclusive ul {
        width: 100%;
        max-width: 200px;
        display: inline-block;
        margin: 0 -4px -4px 0;
    }

    .footer .container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer__contact, .footer__credits {
        text-align: center;
        margin: 32px 0;
    }

    .disable {
        display: none;
    }

}

/*-- Animation Scroll --*/

[data-scrollAnimate] {
    opacity: 0;
    transition: ease all 0.3s;
}

[data-scrollAnimate="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-scrollAnimate="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-scrollAnimate="scale"] {
    transform: scale(0);
}

[data-scrollAnimate].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transform: scale(1);
    -o-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}